<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF=8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>ABOUT</title>
        <link rel="stylesheet" href="/stylesheets/about.css"> <!-- link of about.css -->

    </head>
    <body>
        <h1>About Vivek :</h1><br> <!-- page title header -->
        <h2>I am 20 years old and studying Avd.Diploma in Computer at Georgian collage.</h2>
        <h2>I am an international student. And my language skills are Java,C++,Html and Css.</h2>
        <h2>I have a keen interest in developing and designing new websites.</h2>

    </body>
</html>
