<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF=8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="/stylesheets/home.css"> <!-- css link -->
    </head>
    <body>
        <h1>Hello! I am Vivek</h1> <!-- first line -->
        <img src="\images\dp.jpeg" alt="vivek picture"><br> <!-- link for image -->
        <info>Welcome to my portfolio.</info>
        <h2>"I believe programming is an extremely creative profession"</h2>
       
    </body>
</html>