<!DOCTYPE html>
<html>
<body>
    <header>
      <link rel="stylesheet" href="/stylesheets/layout.css"> <!-- link of about.css -->
  <nav>
    <div>
      <a href="/">Home</a>
      <a href="/about">About Me</a>
      <a href="/project">Projects</a>
      <a href="/contact">Contact Me</a>
    </div>
    </nav>
  </header>

  <main>
    {{{body}}}
  </main>

  <footer>
    <p>&copy; 2024 Vivek Patel <span class="heart-symbol"></span></p>
    <p>You can follow me on <a href="https://github.com/Vivek19122002" target="_blank">GitHub</a> and 
    <a href="https://www.linkedin.com/in/vivek-patel-902619252/" target="_blank">LinkedIn</a></p>
  </footer>
</body>
</html>
