<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF=8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Project</title>
        <link rel="stylesheet" href="/stylesheets/project.css"> <!-- link of project.css -->
    </head>
    <body>
        <h1>Project's done by Vivek :</h1>         
        <table> <!-- table of 3x2 -->
            <tr>  <!-- table column 1 -->
                <td><h2>C++</h2></td>
                <td><h2>HTML</h2></td>
                <td><h2>ANDROID</h2></td>
            </tr>
            <tr>
                <!-- table column 2-->
                <td>Math Algo system, Text editor,Phone book Application.</td>
                <td>Pizza Order System, Book management system, 90's instrument online store.</td>
                <td>Lucky number, calculator, QR code payment app, Login info App.</td>
            </tr>
        </table>
        
            
    </body>
</html>